@import '../../styles/variables.scss';

.burgerMenu {
  &_link {
    border-right: 1px solid $elements-color;
    width: 50%;
    position: relative;
    height: 64px;
  }

  &_icon {
    position: relative;
    top: 25px;
    left: 50%;
  }
}

.icon_container {
  position: relative;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 14px;
  height: 14px;
  top: 95%;
  right: 42%;
  background-color: $accent-color;
  color: $white-color;
  border-radius: 50%;
  font-size: 9px;
  border: 1px solid $white-color;
}

.activeLink {
  &::after {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: $primary-color;
    border-radius: 8px;
    content: '';
  }
}
