@import '../../styles/mixins.scss';

.phoneSwiper {
  @include onMobile {
    width: 320px;
    margin: 0 auto;
    margin-top: 50px;
  }

  @include onTablet {
    width: 600px;
    margin: 0 auto;
    margin-top: 74px;
  }

  @include onDesktop {
    width: 1136px;
    margin: 0;
    margin-top: 90px;
  }

  &_head {
    display: flex;
    justify-content: space-between;
  }

  &_title {
    font-weight: 800;
    font-size: 22px;

    @include onTablet {
      font-size: 32px;
    }
  }

  &_cards {
    margin: 24px 0 64px;
    display: flex;
    gap: 16px;
    overflow: hidden;
    width: 100%;

    @include onDesktop {
      margin-bottom: 80px;
    }
  }

  &_card {
    transition: transform 0.3s linear;
  }

  &_buttons {
    display: flex;
  }

  &_button {
    margin-left: 16px;
    display: block;
    width: 32px;
    height: 32px;
    cursor: pointer;
    border: 1px solid #e2e6e9;
    border-radius: 50%;

    &:hover {
      border: 1px solid #0f0f11;
      color: #0f0f11;
    }

    &:disabled {
      cursor: auto;
      opacity: 50%;
      border: 0;
    }
  }
}
