@import '../../styles/global.scss';
@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
@import '../../styles/fonts.scss';

.categories {
  margin-bottom: 56px;

  @include onTablet {
    margin-bottom: 64px;
  }

  @include onDesktop {
    margin-bottom: 80px;
  }

  &__title {
    font-weight: 800;
    font-size: 22px;
    margin-bottom: 24px;

    @include onTablet {
      font-size: 32px;
      margin-bottom: 24px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    @include onTablet {
      flex-direction: row;
    }
  }
}

.category {
  list-style: none;
  
  &__img__wrapper {
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 24px;

    &:hover {
      transition: all 0.3s;
      box-shadow: 0px 2px 15px rgba(23, 32, 49, 0.4);
    }
  }

  &__img {
    display: block;

    &:hover {
      transition: all 0.3s;
      transform: scale(1.1);
    }
  }

  &__name {
    font-weight: 700;
    font-size: 20px;
    color: $primary-color;
    margin-bottom: 4px;
  }

  &__itemsCount {
    font-weight: 500;
    font-size: 14px;
    color: $secondary-color;
    margin-bottom: 32px;
  }
}
