@import '../../../styles/variables.scss';

.history {
  display: flex;
  align-items: center;
  margin-top: 28px;
  cursor: pointer;
  max-width: fit-content;
}

.historyIcon {
  height: 16px;
  width: 16px;
}

.historyTitle {
  font-weight: 700;
  font-size: 12px;
  color: $secondary-color;
  background-color: $white-color;
  border: 1px transparent;
  cursor: pointer;
}
