@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  width: 287px;
  border: 1px solid $elements-color;
  border-radius: 8px;
  padding: 32px;
  cursor: pointer;

  @include onTablet {
    width: 229px;
  }

  @include onDesktop {
    width: 272px;
  }
}

.container:hover {
  box-shadow: 0px 2px 15px rgba(23, 32, 49, 0.4);
}

.product-card {
  display: flex;
  justify-content: space-between;
  background-color: $white-color;
  flex-direction: column;
  font-style: normal;
}

.image {
  display: block;
  object-fit: contain;
  width: 208px;
  height: 196px;
  margin-bottom: 24px;
}

.name {
  display: flex;
  min-height: 42px;
  font-size: 14px;
  line-height: 21px;
  color: $primary-color;
  margin-bottom: 8px;
}

.prices {
  display: flex;
  flex-direction: row;
  font-size: 22px;
  line-height: 140%;
  padding-bottom: 8px;
}

.price {
  color: $primary-color;
  padding-right: 8px;
  font-weight: 800;
}

.fullPrice {
  font-weight: 500;
  color: $secondary-color;
  text-decoration-line: line-through;
}

.separator {
  height: 1px;
  background-color: $elements-color;
  margin-bottom: 8px;
}

.description {
  padding-bottom: 24px;
}

.descriptionTitle {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: $secondary-color;
  margin-top: 8px;
}

.descriptionData {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  margin-top: 8px;
}

.line {
  display: flex;
  justify-content: space-between;
}

.buttonLine {
  display: flex;
  justify-content: space-between;
}
