.product-card {
  display: flex;
  // padding-top: 34px;
  // padding-bottom: 16px;
  // padding-left: 16px;
  // padding-right: 16px;
  background-color: #FFFFFF;
  flex-direction: column;
  border: 1px solid #E2E6E9;
  border-radius: 8px;
  font-style: normal;

  &__name {
    // font-family:
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: #0F0F11;
  }

  &____price {
    color: #0F0F11;
    font-weight: 800;
    font-size: 22px;
    line-height: 140%;
  }

  &__fullPrice {
    font-weight: 800;
    font-size: 22px;
    line-height: 140%;
    color: #89939A;
  }

  &__description-title {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #89939A;
  }

  &__description-data {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
  }
}