body,
div,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  font-family: url("../../../public/fonts/Mont-Regular.otf");
  flex-direction: column;
  width: 272px;
  height: 506px;
  border: 1px solid #E2E6E9;
  border-radius: 8px;
  padding: 32px;
}

.product-card {
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  flex-direction: column;
  font-style: normal;

  &__image {
    display: block;
    object-fit: contain;
    width: 208px;
    height: 196px;
    margin-bottom: 24px;
  }

  &__name {
    font-family: url("../../../public/fonts/Mont-Regular.otf");
    display: flex;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: #0F0F11;
    margin-bottom: 8px;
  }

  &__price {
    color: #0F0F11;
    padding-right: 8px;
  }

  &__fullPrice {
    color: #89939A;
    text-decoration-line: line-through;
  }

  &__prices {
    display: flex;
    flex-direction: row;
    font-weight: 800;
    font-size: 22px;
    line-height: 140%;
    padding-bottom: 8px;
  }

  &__separator {
    height: 1px;
    width: 208px;
    background-color: #E2E6E9;
    margin-bottom: 8px;
  }

  &__description {
    // display: flex;
    // flex-direction: column;
    padding-bottom: 24px;
    // justify-content: space-between;
  }

  &__description-title {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #89939A;
    margin-top: 8px;
  }

  &__description-data {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    margin-top: 8px;
  }

  &__line {
    display: flex;
    justify-content: space-between;
  }
}

.button-line {
  display: flex;
  justify-content: space-between;
}