@font-face {
  font-family: 'Mont';
  src: url(../assets/fonts/Mont-Bold.otf);
  font-weight: 600;
}

@font-face {
  font-family: 'Mont';
  src: url(../assets/fonts/Mont-Regular.otf);
  font-weight: 700;
}

@font-face {
  font-family: 'Mont';
  src: url(../assets/fonts/Mont-SemiBold.otf);
  font-weight: 800;
}
