@import '../styles/mixins.scss';

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Mont', sans-serif;
  height: auto;
  width: 100%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Mont', sans-serif;
  font-size: 48px;
  font-weight: 800;
}

button {
  font-family: 'Mont', sans-serif;
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  display: flex;
  flex-grow: 1;
  max-width: 1200px;
  margin: 0 16px;
  justify-content: center;
  align-items: center;

  @include onTablet {
    display: block;
    margin: 0 32px;
  }

  @include onDesktop {
    margin: 0 152px;
  }
}
