* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Mont', sans-serif;
  height: auto;
  width: 100%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul {
  margin: 0;
  padding: 0;
}

button {
  font-family: 'Mont', sans-serif;
}
