@import '../styles/mixins.scss';

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Mont', sans-serif;
  height: auto;
  width: 100%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 32px;
  font-weight: 800;
}

h2 {
  font-size: 22px;
  font-weight: 800;
}

h3 {
  font-size: 20px;
  font-weight: 700;
}

h4 {
  font-size: 16px;
  font-weight: 700;
}

@include onTablet {
  h1 {
    font-size: 48px;
    font-weight: 800;
  }

  h2 {
    font-size: 32px;
    font-weight: 800;
  }

  h3 {
    font-size: 22px;
    font-weight: 800;
  }

  h4 {
    font-size: 20px;
    font-weight: 700;
  }
}

button {
  font-family: 'Mont', sans-serif;
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  flex-grow: 1;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;

  @include onTablet {
    padding: 0 24px;
  }

  @include onDesktop {
    padding: 0 32px;
  }
}
