@font-face {
  font-family: Mont;
  src: url(../../public/fonts/Mont-Bold.otf);
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: Mont;
  height: auto;
  width: 100%;
}

a {
  text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul {
  margin: 0;
  padding: 0;
}
