.product-card {
  &__button-add {
    width: 57px;
    height: 15px;
    border-radius: 48px;
    background-color: #4219d0;
    color: #ffffff;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
  }
}
