@import '../../../styles/variables.scss';

.buttonConteiner {
  width: 40px;
  height: 40px;
  margin: 0 0 0 8px;
}

.buttonFavorites {
  width: 100%;
  height: 100%;
  background-image: url('../../../assets/icons/favourites.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: 1px solid $icons-color;
  background-color: $white-color;
  cursor: pointer;
  transition: background-image 0.5s;

  &_active {
    border: 1px solid $icons-color;
    background-image: url('../../../assets/icons/favourites-filled.svg');
  }
}

.buttonFavorites:hover {
  border: 1px solid $primary-color;
}
