@import '../../styles/variables.scss';

.navLink {
  display: inline-block;
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 64px;
  color: $secondary-color;
  text-decoration: none;
}

.activeLink {
  color: $primary-color;

  &::after {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: $primary-color;
    border-radius: 8px;
    content: '';
  }
}

@media (max-width: 639px) {
  .navLink {
    font-size: 0;
  }
}
