@import '../../styles/variables.scss';

.title {
  font-size: 48px;
  color: $primary-color;
}

.subtitle {
  font-weight: 600;
  font-size: 14px;
  color: $secondary-color;
  margin-top: 8px;
}

.error_message {
  display: flex;
}

.error_button {
  margin-left: 10px;
}
