@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.title {
  margin-top: 24px;
  color: $primary-color;
  margin-bottom: 16px;
  width: 100%;

  @include onTablet {
    margin-top: 16px;
  }
}

.cart_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 64px;

  @include onDesktop {
    gap: 16px;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
  }
}

.total_cardPageList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 288px;
  padding: 24px;

  @include onTablet {
    width: 592px;
    padding: 24px;
  }

  @include onDesktop {
    width: 752px;
    padding: 0;
    justify-content: space-between;
  }
}
