@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.container {
  display: flex;
  width: 0;
  visibility: hidden;
}

@include onTablet {
  .shoppingbag_icon {
    height: 16px;
    width: 16px;
    margin: 24px;
  }

  .shoppingbag_link {
    position: relative;
    height: 64px;
    border-left: 1px solid $elements-color;
  }

  .container {
    width: auto;
    visibility: visible;
  }

  .icon_container {
    position: relative;
  }

  .counter {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 14px;
    height: 14px;
    top: 25%;
    right: 27%;
    background-color: $accent-color;
    color: $white-color;
    border-radius: 50%;
    font-size: 9px;
    border: 1px solid $white-color;
  }

  .activeLink {
    &::after {
      display: inline-block;
      position: absolute;
      width: 100%;
      height: 3px;
      bottom: 0;
      left: 0;
      background-color: $primary-color;
      border-radius: 8px;
      content: '';
    }
  }
}
