@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.header {
  position: sticky;
  top: 0;
  border-bottom: 1px solid $elements-color;
  z-index: 1;

  &_container {
    display: flex;
    justify-content: space-between;
    background-color: $white-color;
    height: 64px;
    align-items: center;
  }

  &_menu {
    display: flex;
    align-items: center;
    height: 64px;
    border-left: 1px solid $elements-color;
  }

  &_burgermenu_container {
    height: 0;
    width: 0;
    padding: 0;
    border-left: 0;
    position: relative;
    top: 4px;
  }
}

.navigation_container {
  display: flex;
}

.navLinkWrapper {
  position: relative;
  height: 66px;
}

.navList {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 64px;

  @include onMobile {
    width: 0;
  }

  @include onTablet {
    width: auto;
  }
}

.activeLink {
  &::after {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: $primary-color;
    border-radius: 8px;
    content: '';
  }
}

@media (max-width: 1439px) {
  .navList {
    gap: 39px;
  }
}

@media (max-width: 639px) {
  .header {
    &_shoppingbag_link {
      border-left: 0;
    }

    &_menu {
      border-left: 0;
    }

    &_favourite_icon {
      width: 0;
      border-left: 0;
      margin: 0;
      border-left: 0;
    }

    &_burgermenu_container {
      height: 16px;
      width: 15px;
      margin: 24p;
    }

    &_shoppingbag_icon {
      width: 0;
      border-left: 0;
      margin: 0;
      border-left: 0;
    }
  }
}
