@import '../../styles/mixins.scss';

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  max-width: 1200px;
  margin: 48px auto 0;
  padding: 0px 30px;
  align-items: center;
  justify-content: center;
  @include onTablet {
    padding: 0 24px;
  }

  @include onDesktop {
    padding: 20px 50px;
  }
}

.image {
  margin: 20px auto;
  max-width: 80%;
}
