@import '../../styles/variables.scss';

.burgerMenu {
  &_container {
    display: flex;
    border-bottom: 1px solid $elements-color;
    justify-content: space-between;
    align-items: center;
    height: 64px;
  }

  &_navList {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &_button {
    padding: 0;
    border: none;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    cursor: pointer;
    height: 64px;
    border-left: 1px solid $elements-color;
  }

  &_close_image {
    height: 16px;
    width: 15px;
    margin: 0 24px;
    position: relative;
    top: 4px;
  }

  &_footer_container {
    display: flex;
    justify-content: space-around;
    position: absolute;
    align-items: stretch;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid $elements-color;
    display: flex;
    border-bottom: 1px solid $elements-color;
    height: 64px;
    width: 100%;
  }

  &_navLink_center {
    background-color: $primary-color;
    width: min-content;
  }

  &_navLink_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &_navLink_element {
    position: relative;
  }
}
