@import '../../styles/fonts.scss';
@import '../../styles/global.scss';
@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 257px;
  max-width: 360px;
  margin: 0 auto;

  @include onTablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 96px;
    padding: 0 24px;
    max-width: 1200px;
  }

  @include onDesktop {
    padding: 0 32px;
  }

  &__container {
    border-top: 1px solid $elements-color;
    background-color: $white-color;
  }

  &__logo__img {
    width: 89px;
  }

  &__nav {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;

    @include onTablet {
      flex-direction: row;
      gap: 14px;
    }

    @include onDesktop {
      gap: 106px;
    }

    &__item {
      display: block;
    }

    &__link {
      font-style: normal;
      font-size: 12px;
      line-height: 11px;
      letter-spacing: 0.04em;
      color: $secondary-color;
      text-transform: uppercase;
      text-decoration: none;
    }
  }

  &__backToTop {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    text-decoration: none;
    cursor: pointer;

    &__title {
      font-size: 12px;
      font-weight: 700;
      line-height: 15px;
      color: $secondary-color;
    }

    &__btn {
      background-image: url('../../assets/icons/up-button.svg');
      background-repeat: no-repeat;
      background-position: center;
      display: inline-block;
      height: 32px;
      width: 32px;
      border: 1px solid $secondary-color;
      border-radius: 50%;
    }
  }
}
