@import '../../styles/fonts.scss';
@import '../../styles/global.scss';
@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

$primaryColorBackground: #fff;
$primaryColorText: #0f0f11;
$secondaryColorText: #89939a;

.footer {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 257px;
  background-color: $primaryColorBackground;

  @include onTablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 0 32px;
  }

  &__logo {
    height: 30px;
  }

  &__nav {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;

    @include onTablet {
      flex-direction: row;
      gap: 14px;
    }

    @include onDesktop {
      gap: 106px;
    }

    &__item {
      display: block;
    }

    &__link {
      font-style: normal;
      font-size: 12px;
      line-height: 11px;
      letter-spacing: 0.04em;
      color: $secondaryColorText;
      text-transform: uppercase;
      text-decoration: none;
    }
  }

  &__backToTop {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    &__title {
      margin-right: 8px;
      font-size: 12px;
      font-weight: 700;
      line-height: 15px;
      color: $secondaryColorText;
    }

    &__btn {
      background-image: url('../../assets/icons/arrow-up.svg');
      background-repeat: no-repeat;
      background-position: center;
      margin-left: 8px;
      display: inline-block;
      height: 32px;
      width: 32px;
      border: 1.5px solid $secondaryColorText;
      border-radius: 50%;
    }
  }
}
