.burgerMenu {
  &_navLink_element {
    position: relative;
  }

  &_navLink {
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 64px;
    color: #88939a;
    text-decoration: none;
  }
}

.activeLink {
  color: black;

  &::after {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: black;
    border-radius: 8px;
    content: '';
  }
}
