@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.burgerMenu {
  &_button {
    padding: 0;
    border: none;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    cursor: pointer;
    height: 64px;
    border-left: 1px solid $elements-color;
  }

  &_close_image {
    height: 16px;
    width: 15px;
    margin: 0 24px;
    position: relative;
    top: 4px;
  }
}

@include onTablet {
  .burgerMenu {
    &_close_image {
      height: 16px;
      width: 15px;
      margin: 0;
      position: relative;
    }

    &_close_image {
      width: 0;
    }
  }
}
