@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.container {
  display: flex;
  gap: 16px;
  max-width: 320px;
  flex-direction: column;

  @include onMobile {
    margin: 0 -24px;
    margin-bottom: 88px;
  }

  @include onTablet {
    max-width: 640px;
    flex-direction: row;
    gap: 19px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 96px;
  }

  @include onDesktop {
    flex-direction: row;
    width: 1040px;
    margin: 0 auto;
    margin-bottom: 128px;
  }
}

.content {
  width: 320px;
  height: 320px;

  @include onTablet {
    width: 490px;
    height: 189px;
  }

  @include onDesktop {
    width: 1040px;
    height: 400px;
  }
}

.slide {
  cursor: pointer;
  border-radius: 8px;
  @include onMobile {
    background-image: url('../../assets/img/mobile-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 320px;
    width: 320px;
  }

  @include onTablet {
    background-image: url('../../assets/img/Banner.png');
    height: 189px;
    width: 490px;
  }

  @include onDesktop {
    background-image: url('../../assets/img/Banner.png');
    width: 1040px;
    height: 400px;
  }
}

.button {
  display: none;
  height: 189px;
  min-width: 32px;
  cursor: pointer;
  border-radius: 32px;
  border: 1px solid $secondary-color;

  &:hover {
    border: 1px solid $primary-color;
  }
  @include onTablet {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 189px;
  }

  @include onDesktop {
    height: 400px;
  }
}

.dots_list {
  margin-bottom: 40px;
}

.dots {
  width: 14px;
  height: 4px;
  margin-top: 12px;
  background-color: $secondary-color;

  &_active {
    background-color: $primary-color;
  }
}
