@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.history {
  display: flex;
  align-items: baseline;
  margin-top: 28px;
  cursor: pointer;
}

.historyIcon {
  background-image: url('../../assets/icons/arrow-left.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 5px;
  height: 9px;
  margin-right: 8px;
}

.historyTitle {
  font-weight: 700;
  font-size: 12px;
  color: $secondary-color;
  background-color: $white-color;
  border: 1px transparent;
}

.title {
  margin-top: 16px;
  margin-bottom: 32px;

  @include onTablet {
    margin-bottom: 40px;
  }
}

.characteristics {
  @include onTablet {
    display: flex;
  }
}

.containerMainInfo {
  display: flex;
  flex-direction: column;

  @include onTablet {
    display: grid;
  }
}

.photos {
  @include onTablet {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 76px;
  }
}

.mainPhoto {
  width: 274px;
  height: 274px;
  margin: 0 auto;

  @include onTablet {
    width: 442px;
    height: 442px;
  }
}

.mainImage {
  width: 100%;
  height: 100%;
  margin-bottom: 16px;
  object-fit: contain;
  object-position: center center;

  @include onTablet {
    margin-bottom: 0;
  }
}

.flex_container {
  display: flex;
  justify-content: space-between;

  @include onTablet {
    margin-right: 16px;
  }

  @include onDesktop {
    margin-right: 25px;
  }
}

.flex_boxes {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin-right: 8px;
  
  &:last-child {
    margin-right: 0;
  }

  @include onTablet {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.li {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid $icons-color;
  margin-right: 8px;
  margin-top: 24px;
  
  &:last-child {
    margin-right: 0;
  }

  &:hover {
    border: 1px solid $primary-color;
  }

  @include onTablet {
    margin-right: 0;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include onDesktop {
    width: 80px;
    height: 80px;
    margin-bottom: 16px;
  }
}

.flex_img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center center;
}

.flex2 {
  @include onTablet {
    display: flex;
    flex-direction: column;
    width: 270px;
  }

  @include onDesktop {
    width: 320px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  margin-right: 8px;

  @include onTablet {
    margin-right: 200px;
  }
}

.formTitle {
  color: $secondary-color;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  margin-top: 24px;
  margin-bottom: 8px;
}

.availableColor {
  display: flex;
  margin-bottom: 25px;
}

.containerForColor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 36px;
  margin-right: 8px;
  border: 2px solid $elements-color;
  transition: border 0.3s ease;
  cursor: pointer;

  &:hover {
    border: 2px solid $icons-color;
  }
}

.color {
  width: 28px;
  height: 28px;
  box-sizing: border-box;
  border-radius: 36px;
  border: none;
  cursor: pointer;
}

.selectedColor {
  border: 2px solid $primary-color;

  &:hover {
    border: 2px solid $primary-color;
  }
}

.separator {
  height: 1px;
  background-color: $elements-color;
}

.separatorInfo {
  height: 1px;
  background-color: $elements-color;
  min-width: 288px;

  @include onTablet {
    min-width: 592px;
  }
}

.capacity {
  width: 63px;
  padding: 7px 4px 8px;
  border: 1px solid $icons-color;
  cursor: pointer;
  background-color: $white-color;
  margin-bottom: 24px;
}

.availableCapacity {
  display: flex;
  gap: 8px;
  font-weight: 500;
}

.selectedCapacity {
  background: $primary-color;
  color: $white-color;
}

.prices {
  display: flex;
  align-items: center;
  margin-top: 32px;
}

.priceRegular {
  font-weight: 800;
  font-size: 22px;
  line-height: 41px;
  letter-spacing: -0.01em;
  color: $secondary-color;
  margin-right: 8px;
  text-decoration-line: line-through;
}

.priceDiscount {
  font-weight: 500;
  font-size: 32px;
  line-height: 28px;
  color: $primary-color;
  margin-right: 8px;
}

.buttonLine {
  margin-top: 16px;
}

.description {
  margin-top: 32px;
  margin-bottom: 56px;
}

.descriptionTitle {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: $secondary-color;
  margin-top: 8px;
}

.descriptionData {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  margin-top: 8px;
}

.line {
  display: flex;
  justify-content: space-between;
}

.buttonLine {
  display: flex;
  justify-content: space-between;
}

.butToAdd {
  width: 230px;
  height: 48px;

  @include onTablet {
    margin-right: 8px;
  }
}

.butToFav {
  width: 50px;
  height: 48px;
}

.subTitle {
  font-weight: 700;
  font-size: 20px;
  color: $primary-color;
  margin-bottom: 16px;
  margin-top: 56px;
}

.subSubTitle {
  font-weight: 700;
  font-size: 16px;
  color: $primary-color;
  margin-top: 32px;
  margin-bottom: 16px;
}

.textP {
  font-weight: 700;
  font-size: 14px;
  color: $secondary-color;

  :last-child {
    margin-bottom: 56px;
  }
}

.addInfo {
  @include onDesktop {
    display: flex;
  }
}

.category {
  @include onDesktop {
    margin-bottom: 80px;

    &:first-child {
      margin-right: 64px;
    }
  }
}