@import '../../styles/mixins.scss';

.homePage_header {
  @include onMobile {
    font-size: 32px;
  }
  @include onTablet {
    position: relative;
    left: 20px;
  }

  @include onDesktop {
    position: relative;
    right: 240px;
    width: 1200px;
  }
}

.container {
  display: flex;
  gap: 16px;
  margin-bottom: 50px;
  max-width: 320px;
  flex-direction: column;
  align-items: center;

  @include onTablet {
    max-width: 640px;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;
  }

  @include onDesktop {
    width: 1040px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }
}